# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --timeout=5m ./...
        language: system
        types: [go]
        # For local use, ensure golangci-lint is installed globally:
        # go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.55.2
        pass_filenames: false
-   repo: local
    hooks:
    -   id: go-fmt
        name: go-fmt
        entry: gofmt -w
        language: system
        types: [go]
    -   id: go-vet
        name: go-vet
        entry: go vet ./...
        language: system
        types: [go]
        pass_filenames: false
    -   id: go-mod-tidy
        name: go-mod-tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
        files: go.mod
